.navbar-brand {
    padding-top: 10px;
    margin-top: 0px;
    height: 100px;
}

.navbar-toggle {
    height: 60px;
    width: 60px;
    padding: auto;
    text-align: center;
}

.navbar-toggle span.icon-bar {
    position: relative;
    margin: 5px auto;
}

#collapsable-nav li {
    font-size: 1.6em;
    background: #CCCC00;
}

#main-content {
    background: NavajoWhite;
}

h2 {
    text-align: center;
}



